# Built artifacts
dist

# Cache
.rts2*

# NPM Lockfile
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Packages
node_modules

# Coverage directory used by tools like istanbul
coverage

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity